body {
  max-width: 375px;
  margin: auto;
  font-family: 'Urbanist', sans-serif;
  background-image: url(../img/background-spray.jpg);
  background-repeat: no-repeat;
  background-position: center;
  
}

main {
  padding-top: 45px;
  padding-bottom: 50px;
}


h1, h2 {
  font-family: 'Rubik Dirt', cursive;
  font-weight: 400;
}

h2 {
  color: #FFC549; 
  background: #0080BC;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 4px 16px 5px 20px;
  display: inline;
  font-size: 16px;
}

strong {
  font-weight: 700;
}

p {
  color: #FFC549;
  margin: 20px 15px;
}

img {
  display: block;
  max-width: 100%;
  margin-bottom: 45px;
  margin-top: 40px;
}

header img {
  position: relative;
}

header {
  background: url(../img/blue-wall.png);
  height: 166px;
  padding: 40px 0px 10px 0px;
}

h1 {
  text-align: center;
  font-size: 37px;
  color: #FFC549;
  text-transform : uppercase;
  margin-bottom: 15px;
}

.container {
  padding: 7px 15px 7px 15px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

strong {
  color: #FF807A;
}

header strong {
  color: #222E7A;
}

.cta {
  padding: 5px 10px;
  background: #FFC549;
  border-radius: 20px;
  list-style: none;
  color: #222E7A;
  text-decoration: none;
  font-size: 8px;
  width: 22%;
  text-align: center;
}

.a-contact {
  text-decoration: none;
  color: #FFA64D;
}

.contact {
  color:#FFA64D;
  margin-left: 15px;
}

footer {
  padding-bottom: 10px;
  color: #FFA64D;
}

footer p {
  text-align: center;
  font-size: 10px;
  margin-top: -35px;
  color: #FFA64D;
}

footer img {
  max-width: 50%;
  display: flex;
  justify-content: center;
  position: relative;
  padding: 0 105px;
  margin-top: -20px;
}

.info-skate {
  color: #FFA64D;
}