body {
  max-width: 375px;
  margin: auto;
  background: #ddd;
  font-family: 'Urbanist', sans-serif;
}

h1, h2 {
  font-family: 'Rubik Dirt', cursive;
  font-weight: 400;
}

h2 {
  color: #FFC549; 
  background: #0080BC;
}

p {
  color: #FFC549;
}

img {
  display: block;
  max-width: 100%;
}

header img {
  position: relative;
}

header {
  background: url(../img/blue-wall.png);
  height: 166px;
  padding: 40px 10px 10px 10px;
}

header h1 {
  text-align: center;
  font-size: 37px;
  color: #FFC549;
  text-transform : uppercase;
}

nav {
  padding: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

nav a {
  padding: 5px 10px;
  background: #FFC549;
  border-radius: 20px;
  list-style: none;
  color: #222E7A;
  text-decoration: none;
}